
*{
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    
}

body{
    background-color: hsl(217, 54%, 11%);
}
.CardContainer {
    display: flex;
    margin: auto;
    margin-top: 200px;
}
.CardBG {
    background-color: hsl(216, 50%, 16%);
    box-shadow:  7px 7px 20px 5px rgba(6, 4, 20, 0.5);
    width: 350px;
    height: 600px;
    border-radius: 20px;
    border: rgba(80, 109, 119, .0) solid;
    margin: auto;
}
.CardContainer__nft{
    display: block; 
    margin-left: 17px; 
    margin-top: 20px;  
    max-width: 90%;
    max-height: 90%;
    border-radius: 20%;
}
.CardContainer__nft-img:hover{
    cursor:pointer;
    color: aqua;
    opacity: .5;
}
.CardContainer__text-h1{
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 25px;
    color:whitesmoke;
}
h1:hover{
    color:aqua;
    cursor: pointer;
}
.CardContainer__text-p{
    margin-left: 15px;
    text-align:left;
    color:  hsl(215, 51%, 70%);
    letter-spacing: 1.7px;
}
.CardContainer__text-ETH{
    display: inline-block;
    color: aqua;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 200;
}
.CardContainer__text-days{
    display: inline-block;
    margin-left:114px;
    margin-bottom: 30px;
    color:  hsl(215, 51%, 70%);
    font-size: 20px;
    font-weight: 100;
}
.CardContainer__text-by{
    display: inline-block;
    margin-left: 80px;
    margin-top: 30px;
    color:  hsl(215, 51%, 70%);
    font-weight: 100;
    font-size: 20px;
}
.CardContainer__text-creator{
    display: inline-block;
    color: white;
    font-weight: 200;
    font-size: 20px;
}
#CreatorHover:hover{
    cursor: pointer;
    color: aqua;
}
.CardContainer__avatar{
    width: 35px;
    display: inline-block;
    border-radius: 50%;
    border: 2px;
    border-style: solid;
    border-color:white;
    position: absolute;
    margin-left: 20px;
    top: 76.5%
}
.divLine{
    color: hsl(215, 51%, 70%);
    width: 300px;
    margin: auto;
}
footer{
    color: aliceblue;
        margin-top: 1%;   
}